* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* INIZIO WRAPPER CON LINEAR GRADIENT */
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
  padding: 15px 0;
}
/* FINE WRAPPER */

/* INIZIO MAIN, CHE CONTIENE LE DUE COLONNE PRINCIPALI */
.main {
  width: 85%;
  height: 97%;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.main .icon {
  font-size: 20px;
  color: grey;
}
.main .avatar img {
  height: 56px;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 3px;
  padding-top: 3px;
  vertical-align: middle;
}
.main .campana i {
  font-size: 35px;
  color: white;
  padding: 9px;
  vertical-align: middle;
  padding-right: 6px;
}
/* INIZIO COLONNA DEI CONTATTI */
.main .contacts {
  width: 350px;
  height: 100%;
  float: left;
  background-color: white;
}

.contacts .io {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .contatti {
  overflow-y: scroll;
  height: 70%;
}

.contacts .notifiche {
  height: 60px;
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contacts .ricerca {
  height: 40px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .contacts .io {
  background-color: lightgrey;
}
.contacts .contatto {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
/* FINE COLONNA CONTATTI

/* INIZIO COLONNA CHAT */
.main .chat {
  width: calc(100% - 350px);
  height: 100%;
  float: left;
  background-image: url(../img/mine.jpg);
}
.main .chat .soggetto {
  background-color: lightgrey;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
.chat .row-scrivi-messaggio {
  background-color: lightgrey;
  height: 70px;
  width: 100%;
} */
/* FINE COLONNA CHAT */
