* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* INIZIO WRAPPER CON LINEAR GRADIENT */
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
  padding: 15px 0;
}
/* FINE WRAPPER */

/* INIZIO MAIN, CHE CONTIENE LE DUE COLONNE PRINCIPALI */
.main {
  min-width: 1000px;
  width: 85%;
  height: 97%;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.main .icon {
  font-size: 20px;
  color: grey;
}
.main .avatar img {
  height: 57px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 3px;
  margin-top: 3px;
  vertical-align: middle;
}
.main .campana i {
  font-size: 35px;
  color: white;
  padding: 9px;
  vertical-align: middle;
  margin-right: 6px;
}
.main i {
  margin-right: 8px;
}
.main a {
  color: grey;
}

.main span {
  color: grey;
}
/* INIZIO COLONNA DEI CONTATTI */
.main .contacts {
  width: 350px;
  height: 100%;
  float: left;
  background-color: white;
}

.contacts .io {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid darkgrey;
}
.contacts .contatti {
  overflow-y: scroll;
  height: 70%;
}

.contacts .notifiche {
  height: 60px;
  background-color: lightblue;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts .ricerca {
  height: 40px;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}
.ricerca .look {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid white;
  border-radius: 8px;
}
.main .contacts .io {
  background-color: lightgrey;
}
.contacts .contatto {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

/* FINE COLONNA CONTATTI

/* INIZIO COLONNA CHAT */
.main .chat {
  width: calc(100% - 350px);
  height: 100%;
  float: left;
  background-image: url(../img/mine.jpg);
}
.main .chat .soggetto {
  background-color: lightgrey;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .chat .finestra-chat {
  height: calc(100% - 140px);
  overflow-y: scroll;
}
.finestra-chat  .ricevuto {
  background-color: #E683EB;
  width: 30%;
  height: 40px;
  padding: 10px;
  font-size: 17px;
  border-radius: 20px;
  margin: 40px;
}
.finestra-chat  .inviato {
  background-color: #49C26E;
  color:white;
  width: 30%;
  height: 40px;
  padding: 10px;
  font-size: 17px;
  border-radius: 20px;
  margin: 40px 60%;
}

.chat .scrivi {
  background-color: lightgrey;
  height: 70px;
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat .scrivi i {
  color: darkgrey;
  font-size: 25px;
}
.scrivi .mex {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 10px;
}
.conversazioni {
  display: none;
}
.messaggio .testo-messaggio{
  color: white;
}

.messaggio .tempo-messaggio{
  color: white;
}
/* FINE COLONNA CHAT */
